In [1]:
import pandas as pd

In [2]:
pred_df = pd.read_csv("../Data/Assignment3-UnknownData.csv")

In [3]:
pred_df.describe()

,BATHRM,HF_BATHRM,HEAT,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,STRUCT,GRADE,CNDTN,EXTWALL,ROOF,INTWALL,KITCHENS,FIREPLACES,USECODE,LANDAREA
count,32140.000000,32140.000000,32140.000000,32140.000000,32135.000000,32140.000000,32144.000000,14912.000000,32147.000000,32125.000000,...,32140.000000,32140.000000,32140.000000,32140.000000,32140.000000,32140.000000,32140.000000,32140.000000,32147.000000,32147.000000
mean,2.027442,0.603983,7.652582,1.203267,7.366423,3.373024,1928.372138,2000.762607,1965.562168,2.082627,...,5.036621,4.264561,3.520909,13.373958,3.984661,6.144119,1.223802,0.622713,13.177342,3420.817930
std,1.057538,0.614689,5.042002,0.604984,2.327141,1.105060,104.338632,15.203067,35.003021,1.609147,...,2.864988,1.363760,0.719526,3.904562,3.343099,1.951674,0.613364,0.906827,6.794620,7339.733759
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1910.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,1.000000,1.000000,6.000000,3.000000,1914.000000,1992.000000,1955.000000,2.000000,...,1.000000,3.000000,3.000000,14.000000,1.000000,6.000000,1.000000,0.000000,11.000000,1595.000000
50%,2.000000,1.000000,7.000000,1.000000,7.000000,3.000000,1929.000000,2006.000000,1964.000000,2.000000,...,7.000000,4.000000,3.000000,14.000000,2.000000,6.000000,1.000000,0.000000,12.000000,2340.000000
75%,3.000000,1.000000,13.000000,1.000000,8.000000,4.000000,1947.000000,2011.000000,1970.000000,2.000000,...,7.000000,5.000000,4.000000,14.000000,6.000000,6.000000,1.000000,1.000000,13.000000,4190.000000
max,13.000000,6.000000,13.000000,5.000000,41.000000,18.000000,2019.000000,2018.000000,2018.000000,275.000000,...,13.000000,12.000000,6.000000,24.000000,15.000000,11.000000,5.000000,13.000000,995.000000,942632.000000

In [4]:
pred_df[pred_df['AYB'] <= 1500]

,row ID,BATHRM,HF_BATHRM,HEAT,HEAT_D,AC,NUM_UNITS,ROOMS,BEDRM,AYB,...,EXTWALL_D,ROOF,ROOF_D,INTWALL,INTWALL_D,KITCHENS,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM
1027,Row1027,2.0,1.0,1.0,Forced Air,Y,2.0,7.0,3.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,2.0,2.0,24,1947,2018-07-22T18:01:43.000Z
1267,Row1267,3.0,0.0,13.0,Hot Water Rad,N,2.0,16.0,5.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,2.0,3.0,24,1700,2018-07-22T18:01:43.000Z
1355,Row1355,2.0,0.0,1.0,Forced Air,Y,1.0,7.0,3.0,0.0,...,Brick/Stucco,6.0,Metal- Sms,11.0,Hardwood/Carp,1.0,0.0,11,1683,2018-07-22T18:01:43.000Z
1542,Row1542,2.0,2.0,1.0,Forced Air,Y,2.0,10.0,6.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,2.0,2.0,24,2400,2018-07-22T18:01:43.000Z
1605,Row1605,4.0,0.0,1.0,Forced Air,Y,4.0,8.0,4.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,4.0,1.0,24,2060,2018-07-22T18:01:43.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26787,Row26787,1.0,0.0,1.0,Forced Air,Y,1.0,6.0,3.0,0.0,...,Common Brick,1.0,Comp Shingle,6.0,Hardwood,1.0,0.0,12,4000,2018-07-22T18:01:43.000Z
27099,Row27099,1.0,0.0,1.0,Forced Air,Y,1.0,6.0,3.0,0.0,...,Vinyl Siding,6.0,Metal- Sms,6.0,Hardwood,1.0,0.0,12,4000,2018-07-22T18:01:43.000Z
27631,Row27631,4.0,0.0,13.0,Hot Water Rad,N,4.0,12.0,4.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,4.0,0.0,23,3852,2018-07-22T18:01:43.000Z
30156,Row30156,4.0,0.0,13.0,Hot Water Rad,N,4.0,16.0,4.0,0.0,...,Brick Veneer,0.0,Typical,0.0,Default,4.0,0.0,23,5733,2018-07-22T18:01:43.000Z
31253,Row31253,4.0,0.0,13.0,Hot Water Rad,N,2.0,10.0,5.0,0.0,...,Common Brick,2.0,Built Up,6.0,Hardwood,2.0,0.0,23,3360,2018-07-22T18:01:43.000Z

In [7]:
pred_df.loc[pred_df.isnull().mean(axis=1) >= 0.1]

,row ID,BATHRM,HF_BATHRM,HEAT,HEAT_D,AC,NUM_UNITS,ROOMS,BEDRM,AYB,...,EXTWALL_D,ROOF,ROOF_D,INTWALL,INTWALL_D,KITCHENS,FIREPLACES,USECODE,LANDAREA,GIS_LAST_MOD_DTTM
12535,Row12535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,699,2018-07-22T18:01:43.000Z
17963,Row17963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,995,1366,2018-07-22T18:01:43.000Z
20383,Row20383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,816,2018-07-22T18:01:43.000Z
20384,Row20384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,821,2018-07-22T18:01:43.000Z
20385,Row20385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,838,2018-07-22T18:01:43.000Z
20386,Row20386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1548,2018-07-22T18:01:43.000Z
20387,Row20387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,160,2018-07-22T18:01:43.000Z